name: Publish to gpr registry

on:
  workflow_call:
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN:
        required: true

jobs:
  publish_gqr:
    name: Publish to github registry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: ./dist/

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          registry-url: 'https://npm.pkg.github.com'

      - run: npm install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
