name: Publish to gpr registry

on:
  workflow_call:
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN:
        required: true

jobs:
  publish_gqr:
    name: Publish to github registry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: ./dist/

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          registry-url: 'https://npm.pkg.github.com'

      - run: npm install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
