name: Publish to gpr registry

on:
  workflow_call:
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN:
        required: true

jobs:
  publish_gqr:
    name: Publish to github registry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: ./dist/
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://npm.pkg.github.com'
      - run: npm install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
