name: Qlty.sh

on:
  workflow_call:
    secrets:
      QLTY_COVERAGE_TOKEN:
        required: true

jobs:
  QltySh:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: coverage-report
          path: ./coverage/

      - run: ls -R
      - run: .github/scripts/qlty-coverage-publish.sh
        env:
          QLTY_COVERAGE_TOKEN: ${{ secrets.QLTY_COVERAGE_TOKEN }}
