name: Qlty.sh

on:
  workflow_call:
    secrets:
      QLTY_COVERAGE_TOKEN:
        required: true

jobs:
  QltySh:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: coverage-report
          path: ./coverage/

      - run: ls -R
      - run: .github/scripts/qlty-coverage-publish.sh
        env:
          QLTY_COVERAGE_TOKEN: ${{ secrets.QLTY_COVERAGE_TOKEN }}
