name: CodeClimate.com

on:
  workflow_call:
    secrets:
      CODE_CLIMATE_REPORT_TOKEN:
        required: true

jobs:
  CodeClimate:
    name: CodeClimate.com
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
        with:
          name: coverage-report
          path: ./coverage/
      - run: ls -R
      - name: Upload to CodeClimate.com
        uses: paambaati/codeclimate-action@v9.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CODE_CLIMATE_REPORT_TOKEN }}
