name: Coverity Scan

on:
  workflow_call:
    secrets:
      COVERITY_SCAN_EMAIL:
        required: true
      COVERITY_SCAN_TOKEN:
        required: true

jobs:
  Coverity:
    name: Coverity Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 16
      - name: npm install
        run: npm install
      - name: Coverity Scan
        uses: vapier/coverity-scan-action@v1
        with:
          build_language: 'javascript'
          command: '--no-command --fs-capture-search ./src/'
          email: ${{ secrets.COVERITY_SCAN_EMAIL }}
          token: ${{ secrets.COVERITY_SCAN_TOKEN }}
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverity-scan
          path: ./cov-int/
