name: Build with Quality Check
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  test:
    uses: ./.github/workflows/build-npm-test-webpack.yml
  codecov:
    needs: test
    uses: ./.github/workflows/quality-codecov.yml
  coveralls:
    needs: test
    uses: ./.github/workflows/quality-coveralls.yml
  sonarcloud:
    needs: test
    uses: ./.github/workflows/quality-sonarcloud.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  codacy:
    needs: test
    uses: ./.github/workflows/quality-codacy.yml
    secrets:
      CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
  qltysh:
    needs: test
    uses: ./.github/workflows/quality-qltysh.yml
    secrets:
      QLTY_COVERAGE_TOKEN: ${{ secrets.QLTY_COVERAGE_TOKEN }}

  # Coverity:
  #   needs: test
  #   uses: ./.github/workflows/quality-coverity.yml
  #   secrets:
  #     COVERITY_SCAN_EMAIL: ${{ secrets.COVERITY_SCAN_EMAIL }}
  #     COVERITY_SCAN_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
